<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @workflow.title %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @workflow.kind %>
</p>

<p>
  <strong>Active:</strong>
  <%= @workflow.active %>
</p>

<p>
  <strong>Storage folder:</strong>
  <%= @workflow.storage_folder %>
</p>

<p>
  <strong>Db folder:</strong>
  <%= @workflow.db_folder %>
</p>

<%= link_to 'Edit', edit_workflow_path(@workflow) %> |
<%= link_to 'Back', workflows_path %>
