<h1>Pages#dev</h1>
<%= link_to 'Media', media_path %><br>
<%= link_to 'Metadata', metadata_path %><br>
<%= link_to 'Technical', technicals_path %><br>
<%= link_to 'Link', links_path %><br>
<br>
<%= link_to 'Sort', sorts_path %><br>
<%= link_to 'State', states_path %><br>
<%= link_to 'Tag', tags_path %><br>
<%= link_to 'Folder', folders_path %><br>
<%= link_to 'Setting', settings_path %><br>
<%= link_to 'Workflow', workflows_path %><br>
<%= link_to 'Transcode', transcodes_path %><br>
