<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
      <div class="list-group">
        <% @folders.each do |folder| %>
          <button type="button" class="list-group-item"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><%= folder.title %></button>
        <% end %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
				<div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Type</th>
							<th>Tag</th>
              <th>Titre</th>
              <th>Durée</th>
							<th>Créé</th>
            </tr>
          </thead>
          <tbody>
            <% @links.each do |link| %>
            <tr>
              <td><i class="fa <%= link.medium.sort.icon %> fa-2x" style="color: <%= link.medium.state.bd_color %>;" data-toggle="tooltip" data-placement="right" title="<%= link.medium.state.title %>"></i></td>
							<td><span class="label" style="color: <%= link.medium.tag.tx_color %>; background-color: <%= link.medium.tag.bg_color %>; border: 1px solid <%= link.medium.tag.bd_color %>;"><%= link.medium.tag.title %></span></td>
							<td><strong><%= link.medium.title %></strong></td>
							<td><%= link.medium.duration %></td>
							<td><%= link.medium.created_at.strftime("%HH%M %d/%m/%Y") %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
			</div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="embed-responsive embed-responsive-16by9">
      <%= videojs_rails sources: { mp4: "http://vjs.zencdn.net/v/oceans.mp4"}, setup: "{}", controls: true, width:"auto", height:"250" %>
      </div>
    </div>
  </div>
</div>
