<%= form_for(@link) do |f| %>
  <div class="field">
    <%= f.label :medium_id %><br>
    <%= f.number_field :medium_id %>
  </div>
  <div class="field">
    <%= f.label :folder_id %><br>
    <%= f.number_field :folder_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
