<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<table>
  <thead>
    <tr>
      <th>Medium</th>
      <th>Folder</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.medium.title %></td>
        <td><%= link.folder.title %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Duplicate', duplicate_link_path(:id => link.id) %></td>
        <td><%= link_to 'Move', links_move_path(:id => link.id, :folder_id => 1) %></td>
        <td><%= link_to 'Destroy', link, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
