<%= form_for(@technical) do |f| %>
  <% if @technical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@technical.errors.count, "error") %> prohibited this technical from being saved:</h2>

      <ul>
      <% @technical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :medium_id %><br>
    <%= f.number_field :medium_id %>
  </div>
  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :general_format_media %><br>
    <%= f.text_field :general_format_media %>
  </div>
  <div class="field">
    <%= f.label :general_commercial_name_media %><br>
    <%= f.text_field :general_commercial_name_media %>
  </div>
  <div class="field">
    <%= f.label :general_format_profile_media %><br>
    <%= f.text_field :general_format_profile_media %>
  </div>
  <div class="field">
    <%= f.label :general_format_settings_media %><br>
    <%= f.text_field :general_format_settings_media %>
  </div>
  <div class="field">
    <%= f.label :general_file_size_media %><br>
    <%= f.text_field :general_file_size_media %>
  </div>
  <div class="field">
    <%= f.label :general_duration_media %><br>
    <%= f.text_field :general_duration_media %>
  </div>
  <div class="field">
    <%= f.label :general_overall_bit_rate_media %><br>
    <%= f.text_field :general_overall_bit_rate_media %>
  </div>
  <div class="field">
    <%= f.label :general_encoded_date_media %><br>
    <%= f.text_field :general_encoded_date_media %>
  </div>
  <div class="field">
    <%= f.label :general_writing_application_media %><br>
    <%= f.text_field :general_writing_application_media %>
  </div>
  <div class="field">
    <%= f.label :general_writing_library_media %><br>
    <%= f.text_field :general_writing_library_media %>
  </div>
  <div class="field">
    <%= f.label :video_id_media %><br>
    <%= f.text_field :video_id_media %>
  </div>
  <div class="field">
    <%= f.label :video_format_media %><br>
    <%= f.text_field :video_format_media %>
  </div>
  <div class="field">
    <%= f.label :video_commercial_name_media %><br>
    <%= f.text_field :video_commercial_name_media %>
  </div>
  <div class="field">
    <%= f.label :video_format_version_media %><br>
    <%= f.text_field :video_format_version_media %>
  </div>
  <div class="field">
    <%= f.label :video_format_profile_media %><br>
    <%= f.text_field :video_format_profile_media %>
  </div>
  <div class="field">
    <%= f.label :video_bvop_media %><br>
    <%= f.text_field :video_bvop_media %>
  </div>
  <div class="field">
    <%= f.label :video_matrix_media %><br>
    <%= f.text_field :video_matrix_media %>
  </div>
  <div class="field">
    <%= f.label :video_gop_media %><br>
    <%= f.text_field :video_gop_media %>
  </div>
  <div class="field">
    <%= f.label :video_wrapping_media %><br>
    <%= f.text_field :video_wrapping_media %>
  </div>
  <div class="field">
    <%= f.label :video_duration_media %><br>
    <%= f.text_field :video_duration_media %>
  </div>
  <div class="field">
    <%= f.label :video_bit_rate_media %><br>
    <%= f.text_field :video_bit_rate_media %>
  </div>
  <div class="field">
    <%= f.label :video_width_media %><br>
    <%= f.text_field :video_width_media %>
  </div>
  <div class="field">
    <%= f.label :video_height_media %><br>
    <%= f.text_field :video_height_media %>
  </div>
  <div class="field">
    <%= f.label :video_display_aspect_ratio_media %><br>
    <%= f.text_field :video_display_aspect_ratio_media %>
  </div>
  <div class="field">
    <%= f.label :video_frame_rate_media %><br>
    <%= f.text_field :video_frame_rate_media %>
  </div>
  <div class="field">
    <%= f.label :video_color_space_media %><br>
    <%= f.text_field :video_color_space_media %>
  </div>
  <div class="field">
    <%= f.label :video_chroma_subsampling_media %><br>
    <%= f.text_field :video_chroma_subsampling_media %>
  </div>
  <div class="field">
    <%= f.label :video_bit_depth_media %><br>
    <%= f.text_field :video_bit_depth_media %>
  </div>
  <div class="field">
    <%= f.label :video_scan_type_media %><br>
    <%= f.text_field :video_scan_type_media %>
  </div>
  <div class="field">
    <%= f.label :video_compression_mode_media %><br>
    <%= f.text_field :video_compression_mode_media %>
  </div>
  <div class="field">
    <%= f.label :video_ratio_bits_pixel_frame_media %><br>
    <%= f.text_field :video_ratio_bits_pixel_frame_media %>
  </div>
  <div class="field">
    <%= f.label :video_tc_first_frame_media %><br>
    <%= f.text_field :video_tc_first_frame_media %>
  </div>
  <div class="field">
    <%= f.label :video_tc_source_media %><br>
    <%= f.text_field :video_tc_source_media %>
  </div>
  <div class="field">
    <%= f.label :video_stream_size_media %><br>
    <%= f.text_field :video_stream_size_media %>
  </div>
  <div class="field">
    <%= f.label :audio1_id_media %><br>
    <%= f.text_field :audio1_id_media %>
  </div>
  <div class="field">
    <%= f.label :audio1_format_media %><br>
    <%= f.text_field :audio1_format_media %>
  </div>
  <div class="field">
    <%= f.label :audio1_endianness_media %><br>
    <%= f.text_field :audio1_endianness_media %>
  </div>
  <div class="field">
    <%= f.label :audio1_wrapping_media %><br>
    <%= f.text_field :audio1_wrapping_media %>
  </div>
  <div class="field">
    <%= f.label :audio1_duration_media %><br>
    <%= f.text_field :audio1_duration_media %>
  </div>
  <div class="field">
    <%= f.label :audio1_bit_rate_mode_media %><br>
    <%= f.text_field :audio1_bit_rate_mode_media %>
  </div>
  <div class="field">
    <%= f.label :audio1_bit_rate_media %><br>
    <%= f.text_field :audio1_bit_rate_media %>
  </div>
  <div class="field">
    <%= f.label :audio1_channel_media %><br>
    <%= f.text_field :audio1_channel_media %>
  </div>
  <div class="field">
    <%= f.label :audio1_sampling_rate_media %><br>
    <%= f.text_field :audio1_sampling_rate_media %>
  </div>
  <div class="field">
    <%= f.label :audio1_bit_depth_media %><br>
    <%= f.text_field :audio1_bit_depth_media %>
  </div>
  <div class="field">
    <%= f.label :audio1_streaming_size_media %><br>
    <%= f.text_field :audio1_streaming_size_media %>
  </div>
  <div class="field">
    <%= f.label :audio2_id_media %><br>
    <%= f.text_field :audio2_id_media %>
  </div>
  <div class="field">
    <%= f.label :audio2_format_media %><br>
    <%= f.text_field :audio2_format_media %>
  </div>
  <div class="field">
    <%= f.label :audio2_endianness_media %><br>
    <%= f.text_field :audio2_endianness_media %>
  </div>
  <div class="field">
    <%= f.label :audio2_wrapping_media %><br>
    <%= f.text_field :audio2_wrapping_media %>
  </div>
  <div class="field">
    <%= f.label :audio2_duration_media %><br>
    <%= f.text_field :audio2_duration_media %>
  </div>
  <div class="field">
    <%= f.label :audio2_bit_rate_mode_media %><br>
    <%= f.text_field :audio2_bit_rate_mode_media %>
  </div>
  <div class="field">
    <%= f.label :audio2_bit_rate_media %><br>
    <%= f.text_field :audio2_bit_rate_media %>
  </div>
  <div class="field">
    <%= f.label :audio2_channel_media %><br>
    <%= f.text_field :audio2_channel_media %>
  </div>
  <div class="field">
    <%= f.label :audio2_sampling_rate_media %><br>
    <%= f.text_field :audio2_sampling_rate_media %>
  </div>
  <div class="field">
    <%= f.label :audio2_bit_depth_media %><br>
    <%= f.text_field :audio2_bit_depth_media %>
  </div>
  <div class="field">
    <%= f.label :audio2_streaming_size_media %><br>
    <%= f.text_field :audio2_streaming_size_media %>
  </div>
  <div class="field">
    <%= f.label :audio3_id_media %><br>
    <%= f.text_field :audio3_id_media %>
  </div>
  <div class="field">
    <%= f.label :audio3_format_media %><br>
    <%= f.text_field :audio3_format_media %>
  </div>
  <div class="field">
    <%= f.label :audio3_endianness_media %><br>
    <%= f.text_field :audio3_endianness_media %>
  </div>
  <div class="field">
    <%= f.label :audio3_wrapping_media %><br>
    <%= f.text_field :audio3_wrapping_media %>
  </div>
  <div class="field">
    <%= f.label :audio3_duration_media %><br>
    <%= f.text_field :audio3_duration_media %>
  </div>
  <div class="field">
    <%= f.label :audio3_bit_rate_mode_media %><br>
    <%= f.text_field :audio3_bit_rate_mode_media %>
  </div>
  <div class="field">
    <%= f.label :audio3_bit_rate_media %><br>
    <%= f.text_field :audio3_bit_rate_media %>
  </div>
  <div class="field">
    <%= f.label :audio3_channel_media %><br>
    <%= f.text_field :audio3_channel_media %>
  </div>
  <div class="field">
    <%= f.label :audio3_sampling_rate_media %><br>
    <%= f.text_field :audio3_sampling_rate_media %>
  </div>
  <div class="field">
    <%= f.label :audio3_bit_depth_media %><br>
    <%= f.text_field :audio3_bit_depth_media %>
  </div>
  <div class="field">
    <%= f.label :audio3_streaming_size_media %><br>
    <%= f.text_field :audio3_streaming_size_media %>
  </div>
  <div class="field">
    <%= f.label :audio4_id_media %><br>
    <%= f.text_field :audio4_id_media %>
  </div>
  <div class="field">
    <%= f.label :audio4_format_media %><br>
    <%= f.text_field :audio4_format_media %>
  </div>
  <div class="field">
    <%= f.label :audio4_endianness_media %><br>
    <%= f.text_field :audio4_endianness_media %>
  </div>
  <div class="field">
    <%= f.label :audio4_wrapping_media %><br>
    <%= f.text_field :audio4_wrapping_media %>
  </div>
  <div class="field">
    <%= f.label :audio4_duration_media %><br>
    <%= f.text_field :audio4_duration_media %>
  </div>
  <div class="field">
    <%= f.label :audio4_bit_rate_mode_media %><br>
    <%= f.text_field :audio4_bit_rate_mode_media %>
  </div>
  <div class="field">
    <%= f.label :audio4_bit_rate_media %><br>
    <%= f.text_field :audio4_bit_rate_media %>
  </div>
  <div class="field">
    <%= f.label :audio4_channel_media %><br>
    <%= f.text_field :audio4_channel_media %>
  </div>
  <div class="field">
    <%= f.label :audio4_sampling_rate_media %><br>
    <%= f.text_field :audio4_sampling_rate_media %>
  </div>
  <div class="field">
    <%= f.label :audio4_bit_depth_media %><br>
    <%= f.text_field :audio4_bit_depth_media %>
  </div>
  <div class="field">
    <%= f.label :audio4_streaming_size_media %><br>
    <%= f.text_field :audio4_streaming_size_media %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
