<p id="notice"><%= notice %></p>

<h1>Listing Technicals</h1>

<table>
  <thead>
    <tr>
      <th>Medium</th>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technicals.each do |technical| %>
      <tr>
        <td><%= technical.medium_id %></td>
        <td><%= technical.key %></td>
        <td><%= technical.value %></td>
        <td><%= link_to 'Show', technical %></td>
        <td><%= link_to 'Edit', edit_technical_path(technical) %></td>
        <td><%= link_to 'Destroy', technical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Technical', new_technical_path %>
