<p id="notice"><%= notice %></p>

<p>
  <strong>Medium:</strong>
  <%= @technical.medium_id %>
</p>

<p>
  <strong>Key:</strong>
  <%= @technical.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @technical.value %>
</p>

<%= link_to 'Edit', edit_technical_path(@technical) %> |
<%= link_to 'Back', technicals_path %>
